.main__item{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.5s;
}
.main__item:hover{
	transform: translate(0px, -10px);
}
.main__price{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
.main__item img{
	width: 100%;
}
